button {
    border: none;
    border-radius: 8px;
    background: #0F1A12;
    color: white;
    font-family: Poppins, system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 8px 10px;
    margin: 12px 4px;
    cursor: pointer;
    transition: 0.1s;

    display: flex;
    justify-content: center;
    align-items: center;

    .icon{
        margin-right: 8px;
    }

    &:hover{
        // background: #2e4735;
    }

    &:focus{
        outline: none;
        border: 1px white;
    }
}

.bordered{
    background: none;
    border: 1px solid black;
    color: black;

    &:hover{
        background: #cccccc;
    }

    &:focus{
        outline: none;
    }
}