button, .btn {
    padding: 10px 18px;
    margin: 0;
    border: none;
    border-radius: 8px;
    background: var(--army);
    cursor: pointer;
    transition: 0.25s;
    
    font-family: Poppins, system-ui, sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    white-space: nowrap;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 12px -10px #0008;

    &:hover{
        box-shadow: 0 8px 12px -8px #000a, 0 0 0 2px #cae6d6ee, 0 0 0 2.8px var(--army);
    }

    .icon{
        margin-right: 8px;
    }

    &:focus{
        outline: none;
        border: 1px white;
    }

    &.bordered{
        background: none;
        border: 1px solid var(--army);
        color: var(--army);
        box-shadow: 0 0 0 0 #000;
        
        &:hover{
            box-shadow: inset 0 0 0 1px var(--army);
        }
    
        &:focus{
            outline: none;
        }
    }

    &.bordered-bold{
        background: none;
        border: 4px solid var(--army);
        color: var(--army);
        padding: 10px 14px;

        &:hover{
            color: white;
            box-shadow: 0 10px 12px -10px #0008;
            background: #0C3B2244;
        }

        &.orange{
            color: var(--orange);
            border-color: var(--orange);
            
            &:hover{
                color: white;
                box-shadow: 0 10px 12px -10px #0008;
                background: #FBC34344;
            }
        }

    }

    &.no-btn{
        background: none;
        color: var(--army);
    
        &:hover{
            background: #ccc;
        }
    
        &:focus{
            outline: none;
        }
    }

    &.red{
        background: #c72121;
        
        &:hover{
            box-shadow: 0 8px 12px -8px #0008, 0 0 0 2px #fffe, 0 0 0 2.8px #c72121;
        }
    }
}
