button, .btn {
    padding: 8px 18px;
    margin: 0;
    border: none;
    border-radius: 8px;
    background: #0F1A12;
    cursor: pointer;
    transition: 0.25s;
    
    font-family: Poppins, system-ui, sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    white-space: nowrap;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 12px -8px #0006;

    &:hover{
        box-shadow: 0 8px 12px -8px #0008, 0 0 0 2px #fffe, 0 0 0 2.8px #0f4125;
    }

    .icon{
        margin-right: 8px;
    }

    // &:hover{
    //      background: #2e4735;
    // }

    &:focus{
        outline: none;
        border: 1px white;
    }

    &.bordered{
        background: none;
        border: 1px solid #0F1A12;
        color: #0F1A12;
        box-shadow: 0 0 0 0 #000;
        
        &:hover{
            box-shadow: inset 0 0 0 1px #0F1A12;
        }
    
        &:focus{
            outline: none;
        }
    }

    &.no-btn{
        background: none;
        color: #0F1A12;
    
        &:hover{
            background: #cccccc;
        }
    
        &:focus{
            outline: none;
        }
    }

    &.red{
        background: #c72121;
        
        &:hover{
            box-shadow: 0 8px 12px -8px #0008, 0 0 0 2px #fffe, 0 0 0 2.8px #c72121;
        }
    }
}
