@import './componential.scss';
@import './typefaces.scss';
@import './utilities.scss';

:root {
  --army: #0C3B22;
  --army-light: #0B4D29;
  --army-dark: #0C2919;
  --orange: #FBC343;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

section {
  width: 100%;
}