.full {
    height: 100%;
    width: 100%;

    &-h {
        height: 100%;
    }
    
    &-w {
        width: 100%;
    }
}
  
.contain-size {
    width: 90%;
    max-width: 1000px;
    min-width: 320px;
    margin: 0 auto;
    
    &-xl {
        @extend .contain-size;
        max-width: 1200px;
    }
    &-l {
        @extend .contain-size;
        max-width: 1000px;
    }
    &-m {
        @extend .contain-size;
        max-width: 800px;
    }
    &-sm {
        @extend .contain-size;
        max-width: 700px;
    }
    &-s {
        @extend .contain-size;
        max-width: 600px;
    }
    &-xs {
        @extend .contain-size;
        max-width: 400px;
    }
}

.flex {
    display: flex;

    //c - center
    //s - start
    //e - end
    //b - between
    //v - evenly

    &-cc {
        @extend .flex;
        justify-content: center;
        align-items: center;
    }
    &-cs {
        @extend .flex;
        justify-content: center;
        align-items: flex-start;
    }
    &-ce {
        @extend .flex;
        justify-content: center;
        align-items: flex-end;
    }
    &-sc {
        @extend .flex;
        justify-content: flex-start;
        align-items: center;
    }
    &-ss {
        @extend .flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &-ec {
        @extend .flex;
        justify-content: flex-end;
        align-items: center;
    }
    &-vc {
        @extend .flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &-bc {
        @extend .flex;
        justify-content: space-between;
        align-items: center;
    }
    &-bs {
        @extend .flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &-be {
        @extend .flex;
        justify-content: space-between;
        align-items: flex-end;
    }
  
    &.col {
        flex-direction: column;
    }
}

.mx-auto {
    margin: 0 auto;
}
  
.fixed {
    position: fixed;
    
    &.fullscreen {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    &.fullscreen-v {
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }
}
  
.no-pointer {
    pointer-events: none;
}

.no-select {    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.bg-blur {    
    backdrop-filter: blur(8px);
}